/* main first section   */
.main {
    background-color: rgb(243, 243, 243);
    height: 50px;
    display: flex;
    justify-content: space-between;
}

/* main section right */
.sub-right {
    margin-right: 60px;
    margin-top: 13px;

}

.sub-right i {
    color: #AB7442;
    border: 4px solid white;
    background-color: white;
    font-size: 18px;
    margin-left: 8px;
}

/* phone icon */
.sub-right span i {
    color: #AB7442;
    border: 4px solid rgb(243, 243, 243);
    font-size: 18px;
    background-color: rgb(243, 243, 243);
}

.sub-right span {
    font-size: 15px;
    margin-right: 5px;
}

/* main section left */
.sub-left {
    margin-left: 40px;
    margin-top: 15px;
}

.sub-left i {
    color: #AB7442;
    margin-left: 10px;
}

.sub-left span {
    font-size: 15px;
    margin-left: 10px;
}
/* nav-bar-sections */
.main-1st-section {
    width: 50%;
    font-weight: 700;
    font-size: 32px;
    margin-left: 40px;
    color: #AB7442;
}

/* links whole section nav  */

#home-in-nav {
    color: #AB7442;
}

.main-2nd-section {
    width: 35%;
    font-size: 17px;
    margin-left: 30px;
    gap: 20px;
    font-weight: 600;
}

.main-2nd-section a:hover {
    color: #AB7442 !important;
}
/* get quote sectiom */
.main-3rd-section {
    width: 15%;
    background-color: #AB7442;
    padding: 18px;
}
.main-3rd-section a:hover{
    color: white;
}

.main-3rd-section a {
    text-decoration: none;
    color: white;
    font-weight: 400;
    margin-left: 22px;
}

.main-3rd-section i {
    margin-left: 9px;
}
 /* main center banner */
 .main-center-image{
    position: relative;
 }
 .main-center-image img{
    filter: brightness(45%);
    /* display: none; */
 }
 .main-center-content{
    position: absolute;
    text-align: center;
    top: 40%;
    left: 17%;
    transform: translate(-50%, -50%);
 }
 .main-center-content h3{
    color: #F5F5F5;
    font-size: 60px;
    font-weight: 700;
    letter-spacing: 2px;
     
 }
.main-center-content a{
      text-decoration: none;
      color: #F5F5F5;
      margin-right: 40%;
      font-size: 16px;
      font-weight: 600;

 }
 .main-center-content a:hover{
    color: #F5F5F5;
 }
 /* down 4 icons and head */
.main-4-section {
    display: flex;
    justify-content: space-between;
    width: 75%;
    margin-left: 10%;
    margin-top: 30px;
    gap: 15px;
}

.icons-main {
    display: flex;
    justify-content: space-between;
}

.head-sect h1 {
    font-weight: 700;
    font-size: 50px;
    color: rgb(225, 225, 225);
    margin-left: 23px;
}

.icons-only i {
    font-size: 40px;
    color: #AB7442;
    background-color: #f4f2f2;
    height: 80px;
    padding: 20px;
}

.icons-only p{
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    line-height: 1.2;
    color: #353535;
    font-size: 17px;
}

/* abouts-section */
.main-about {
    display: flex;
    background-color: #eaeaea;
    height: auto;
    margin-top: 50px;

}

.main-about-image {
    width: 50%;
}

.main-about-image img {
    width: 100%;
    height: 480px;
}

.main-about-head {
    width: 50%;
    margin-top: 5%;
}

.main-about-head h2 {
    font-size: 50px;
    font-weight: 700;
    margin-left: 5%;
    color: #353535;
}

.border-small {
    border-bottom: 3px solid black;
    width: 7%;
    margin-left: 36%;
}

.para-about {
    /* margin-left: 3%; */
    margin-top: 15px;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    color: #555;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    margin-left: 6%;
}

.icon-about {
    display: flex;
    justify-content: space-around;
    margin-right: 30%;
    /* margin-left: 20%; */
    flex-wrap: wrap;
    margin-top: 10px;
    /* border: 1px solid red; */
}

.icons-only span {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    line-height: 1.2;
    color: #AB7442;
    font-size: 35px;
}

.button-about {
    background-color: #AB7442;
    width: 20%;
    padding: 19px;
    margin-left: 40px;
    margin-top: 40px;
}

.button-about a {
    text-decoration: none;
    color: white;
    font-weight: 400;
    margin-left: 10px;

}
.button-about a:hover{
    text-decoration: none;
    color: white;
    font-weight: 400;
    margin-left: 10px;

}
   /* TEAM MEMBERS  */
   .team-Members-head h1 {
    margin-top: 40px;
    text-align: center;
    font-weight: 700;
    font-size: 47px;
}
/* cards  */
.cards-section {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 30px;
    

}
.wood-card img{
    transition: 0.2s;
    flex: 1;

}
.wood-card img:hover{
    transform: scale(1.05);
    flex: 1;
}
   /* foooootteerrrr */
   .main-footer{
    margin-top: 10%;
    background-color: #353535;
    height: 400px;
 }
 .sub-footer{
    color: white;
    display: flex;
    padding-top: 4%;
    width: 100%;
    justify-content: space-evenly;
 }
  /* sub1 footer sections  */
 .sub1-footer{
     width: 22%;
     margin-left: 60px;
     
 }
 .sub1-footer span{
    color: white;
    margin-left: 10px;
    /* padding-bottom: 60px; */
    font-size: 16px;
    font-weight: 200;

 }
 .sub1-footer i{
    color: white;
    margin-left: 5px;
    margin-top: 15px;
    font-size: 20px;
 }
 .sub1-footer-icons i{
    border: 1px solid white;
    padding: 5px;
    cursor: pointer;
 }
 .sub1-footer-icons i:hover{
    background-color: white;
    color: #AB7442;
 }
 /* footer full heading  */
 .sub-footer h4{
     margin-bottom: 10px;
     font-weight: 700;
 }
 /* full heading  */
    /* sub 2 footer sections  */
 .sub2-footer{
    width: 22%;
 }
 .sub2-footer a{
    text-decoration: none;
    color: #f4f2f2;
    font-size: 17px;
   
 }
 .sub2-footer a span:hover{
    color: #AB7442;
    letter-spacing: 1px;
 }
 
 .sub2-footer span{
    margin-left: 10px;
   
 }
 .sub2-footer i{
    margin-top: 10px;
 }

   /* sub3 footer section  */
 .sub3-footer{
    width: 22%;
 }
 .sub3-footer a{
    text-decoration: none;
    color: #f4f2f2;
    font-size: 17px;
   
 }
 .sub3-footer a span:hover{
    color: #AB7442;
    letter-spacing: 1px;
 }
 
 .sub3-footer span{
    margin-left: 10px;
   
 }
 .sub3-footer i{
    margin-top: 10px;
 }
     /* sub 4 sections  */
 .sub4-footer{
    width: 22%;
 }
 .sub4-footer p{
    font-size: 19px;
 }
 .sub-footer input{
    padding: 12px 20px;
    border: none;
 }
 .sub4-footer a{
    text-decoration: none;
    color:rgb(255, 250, 250);
    background-color: #AB7442;
    padding: 12px;
    border: 1px solid #ffffff;
 }
 
    /* border-footer */
.border-footer{
    border-bottom: 1px solid #3d5343;
    width: 80%;
    margin-left: 90px;
    margin-top: 40px;
}
  /* last-footer */
.last-content{
    display: flex;
    color:#f4f2f2;
    justify-content: space-between;
    margin-top: 40px;
}
.last1 a{
    color: white;
    margin-left: 40px;
}
.last-content a:hover{
    color: #c27d3c;
}
.last2 a{
    color: white;
    margin-right: 40px;
}

@media(min-width:300px) and (max-width:575.98px){
          /* first-sec */
    .main {
        display: none;
    }

    /* get a auote  */
    .main-3rd-section {
        display: none;
    }

    .main-1st-section {
        width: 50%;
        font-weight: 700;
        font-size: 22px;
        margin-left: 20px;
        color: #AB7442;
    }

    .main-2nd-section {
        width: 35%;
        font-size: 10px;
        margin-left: 10px;
        gap: 20px;
        font-weight: 600;
    }

    /* 4icons and image  */
    .main-4-section {
        display: inline;
        width: 50%;
        margin-left: 5%;
        margin-top: 10px;
        gap: 9px;

    }

    .head-sect h1 {
        font-weight: 700;
        font-size: 30px;
        color: rgb(225, 225, 225);
        margin-left: 13px;
    }

    .icons-only i {
        font-size: 20px;
        color: #AB7442;
        background-color: #f4f2f2;
        height: 40px;
        padding: 10px;
    }

    .icons-only p {
        margin-top: 0;
        margin-bottom: 0.5rem;
        font-family: "Roboto", sans-serif;
        font-weight: 700;
        line-height: 1.2;
        color: #353535;
        font-size: 13px;
    }

    .icons-main {
        width: 95%;
    }
     /* main center banner */
 .main-center-image{
    position: relative;
 }
 .main-center-image img{
    filter: brightness(45%);
    /* display: none; */
 }
 .main-center-content{
    position: absolute;
    /* text-align: center; */
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
 }
 .main-center-content h3{
    color: #F5F5F5;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 1px;
     
 }
.main-center-content a{
      text-decoration: none;
      color: #F5F5F5;
      margin-right: 0%;
      font-size: 10px;
      font-weight: 600;

 }
 .main-center-content a:hover{
    color: #F5F5F5;
 }
      /* center sections  */






         /* abouts-section */
.main-about {
    display: inline;
    background-color: #eaeaea;
    height: auto;
    margin-top: 50px;

}

.main-about-image {
    width: 100%;
}

.main-about-image img {
    width: 100%;
    height: 200px;
    margin-top: 40px;
}

.main-about-head {
    width: 100%;
    margin-top: 5%;
}

.main-about-head h2 {
    font-size: 27px;
    font-weight: 700;
    /* margin-left: 10%; */
    text-align: center;
    color: #353535;
}

.border-small {
    border-bottom: 1px solid black;
    width: 35%;
    /* margin-left: 36%; */
    /* text-align: center; */
}

.para-about {
    /* margin-left: 3%; */
    margin-top: 15px;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    font-weight: 500;
    line-height: 1.5;
    color: #555;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    margin-left: 1%;
    text-align: justify;
}

.icon-about {
    display: flex;
    justify-content: space-around;
    margin-right: 10%;
    /* margin-left: 20%; */
    flex-wrap: wrap;
    margin-top: 10px;
    /* border: 1px solid red; */
}

.icons-only span {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    line-height: 1.2;
    color: #AB7442;
    font-size: 17px;
}

.button-about {
    background-color: #AB7442;
    width: 30%;
    padding: 10px;
    margin-left: 10%;
    margin-top: 30px;
}

.button-about a {
    text-decoration: none;
    color: white;
    font-weight: 400;
    margin-left: 10px;
    font-size: 10px;

}
.team-Members-head h1 {
    margin-top: 40px;
    text-align: center;
    font-weight: 700;
    font-size: 27px;
}
/* foooootteerrrr */
.main-footer{
    background-color: #353535;
    height: auto;
 }
 .sub-footer{
    color: white;
    display: inline;
    padding-top: 4%;
    width: 100%;
    justify-content: space-evenly;
 }
  /* sub1 footer sections  */
 .sub1-footer{
     width: 100%;
     margin-left: 20px;
     padding-top: 40PX;
     
 }
 .sub1-footer span{
    color: white;
    margin-left: 10px;
    /* padding-bottom: 60px; */
    font-size: 17px;
    font-weight: 200;
    /* border: 1px solid red; */

 }
 .sub1-footer i{
    color: white;
    margin-left: 5px;
    margin-top: 15px;
    font-size: 15px;
 }
 .sub1-footer-icons i{
    border: 1px solid white;
    padding: 3px;
    cursor: pointer;
 }
 .sub1-footer-icons i:hover{
    background-color: white;
    color: #AB7442;
 }
 /* footer full heading  */
 .sub-footer h4{
     margin-bottom: 10px;
     font-weight: 700;
     font-size: 22px;
 }
 /* full heading  */
    /* sub 2 footer sections  */
 .sub2-footer{
    width: 100%;
    padding-top: 30px;
    margin-left: 20px;
 }
 .sub2-footer a{
    text-decoration: none;
    color: #f4f2f2;
    font-size: 17px;
   
 }
 .sub2-footer a span:hover{
    color: #AB7442;
    letter-spacing: 1px;
 }
 
 .sub2-footer span{
    margin-left: 10px;
   
 }
 .sub2-footer i{
    margin-top: 10px;
 }

   /* sub3 footer section  */
 .sub3-footer{
    width: 100%;
    margin-left: 20px;
    margin-top: 20px;
 }
 .sub3-footer a{
    text-decoration: none;
    color: #f4f2f2;
    font-size: 17px;
   
 }
 .sub3-footer a span:hover{
    color: #AB7442;
    letter-spacing: 1px;
 }
 
 .sub3-footer span{
    margin-left: 10px;
   
 }
 .sub3-footer i{
    margin-top: 10px;
 }
     /* sub 4 sections  */
 .sub4-footer{
    width: 100%;
    margin-top: 20px;
    margin-left: 20px;
 }
 .sub4-footer p{
    font-size: 14px;
 }
 .sub-footer input{
    padding: 12px 5px;
    border: none;
 }
 .sub4-footer a{
    text-decoration: none;
    color:#ffffff;
    background-color: #AB7442;
    padding: 12px;
    border: 1px solid #ffffff;

 }
 
    /* border-footer */
.border-footer{
    border-bottom: 1px solid #3d5343;
    width: 100%;
    margin-left: 0px;
    margin-top: 40px;
}
  /* last-footer */
.last-content{
    display: inline;
    color:#f4f2f2;
    justify-content:center;
    margin-top: 40px;
}
.last1 a{
    color: white;
    margin-right: 0px;
}
.last-content a:hover{
    color: #c27d3c;
}
.last2{
    margin-left: 70px;
}
.team-Members-head h1 {
    margin-top: 40px;
    text-align: center;
    font-weight: 700;
    font-size: 27px;
}
.full-contents{
    width: 100%;
    /* border: 1px solid red; */
}
}
